  
{% extends "oscar/layout.html" %}


{% load i18n %}

{% block title %}
    {% trans 'Register' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Register as seller.' %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "An easy way to make money online." %}
{% endblock %}

{% block content %}
   <div class="container">
    
      
        
    <div class="panel panel-success">
      <div class="panel-heading">Seller Request List</div>
      <div class="panel-body">Click on seller list to see details and activate seller.</div>
    </div>

{% if request.user.is_staff %}
    <div class="list-group">
       
        
        {% for seller in object_list %}
          
            <a href="sellerdetails/{{ seller.id }}" class="list-group-item ">
                  <h4 class="list-group-item-heading">{{ seller.seller_name }}</h4>
                  <p class="list-group-item-text">{{seller.gst_number}}</p>
                </a>
             

        {% endfor %}
        </div>
 {% else %}
       <div class="list-group">
       
        You are not authorized to view this page.
        
        </div>
 {%endif%}
        </div>
   
{% endblock content %}
 
  